<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Gráfica Beebotte</title>
	
	<link href="static/css/style.css" rel="stylesheet">
	<img href="static/images/background.png">
	<img href="static/images/bar.png">
	<img href="static/images/footer.png">
	<img href="static/images/header.png">
	<img href="static/images/tab_back.png">
</head>

<body>
    <div id="page">
		
        <div id="header">
        	<div id="headerTitle">Práctica 1. Computación en red</div>
            	<div id="headerSubText">Aplicación con Flask</div>    
        </div>

        <div class="contentTitle"><h1>Gráfica del histórial de clics en Beebotte</h1></div>
        	<div class="contentText">
          	<iframe border="0" width="97%" height="380" src="https://beebotte.com/embed/dash/318ec570-eebd-11e8-a140-675e8012aef3"></iframe>
        	</div>

    </div>
    <div id="footer"><a </a> Sergio Lluva Plaza <a </a></div>
</body>
</html>
