<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #C1D2B4}

th {
    background-color: #DCBB47;
    color: BLACK;
}
</style>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Umbral</title>
	<link href="static/css/style.css" rel="stylesheet">
	<img href="static/images/background.png">
	<img href="static/images/bar.png">
	<img href="static/images/footer.png">
	<img href="static/images/header.png">
	<img href="static/images/tab_back.png">
</head>

<body>
    <div id="page">
		
        <div id="header">
        	<div id="headerTitle">Práctica 1. Computación en red</div>
            	<div id="headerSubText">Aplicación con Flask</div>
        </div>

        <div class="contentTitle"><h1>Últimas 10 noticias que superan el umbral especificado</h1></div>
        <div class="contentText">
			<table>
				<tr>
					<th><b> Título </b></th>
					<th><b> Clics </b></th>
					<th><b> Meneos </b></th>
					<th><b> Hora y Fecha </b></th>
				</tr>
				{% for i in datos_umbral %}
				<tr>
					{% for campo in i.values() %}
						<td> {{ campo }} </td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
	</div>	
   </div>
   <div id="footer"><a </a> Sergio Lluva Plaza <a </a></div>
</body>
</html>
